{% macro history_list(history_data) %}
<div class="table-responsive">
    <table class="table datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>User</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for index, history in enumerate(history_data) %}
                <tr>
                    <td>{{ len(history_data) - index }}</td>
                    <td>{{ history.description }}</td>
                    <td>{{ history.created_by_name if history.created_by_name else 'System' }}</td>
                    <td>{{ history.created_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}
