{% macro images_modal() %}
<div class="modal fade" id="images-modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Images
                </h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <h6>Images</h6>
                            <div class="mb-2">
                                <label>Search</label>
                                <input id="search-image-input" class="form-control" placeholder="Search some image..." type="search">
                            </div>
                            <div class="image-modal-container">
                                {% for file in files.images %}
                                <div class="file-container" role="button" data-file-name="{{file.name}}">
                                    <div class="file-name text-dark" title="{{file.name}}">
                                        {{file.name}}
                                    </div>
                                    <img src="{{file.path}}" class="file-img" alt="Image tile">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <h6>Crop Properties</h6>
                            <div class="mb-1">
                                <label>X <span class="text-warning">*</span></label>
                                <input id="crop_x" class="form-control crop-input" placeholder="Enter the X coord to crop" type="number">
                            </div>
                            <div class="mb-1">
                                <label>Y <span class="text-warning">*</span></label>
                                <input id="crop_y" class="form-control crop-input" placeholder="Enter the Y coord amount to crop" type="number">
                            </div>
                            <div class="mb-1">
                                <label>Crop width <span class="text-warning">*</span></label>
                                <input id="crop_width" class="form-control crop-input" placeholder="Enter the width to crop" type="number">
                            </div>
                            <div class="mb-1">
                                <label>Crop height <span class="text-warning">*</span></label>
                                <input id="crop_height" class="form-control crop-input" placeholder="Enter the height to crop" type="number">
                            </div>
                            <div class="mb-1">
                                <label>Resize width <span class="text-warning">**</span></label>
                                <input id="resize_width" class="form-control crop-input" placeholder="Enter the width to resize" type="number">
                            </div>
                            <div class="mb-1">
                                <label>Resize height <span class="text-warning">**</span></label>
                                <input id="resize_height" class="form-control crop-input" placeholder="Enter the height to resize" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" data-bs-dismiss="modal" class="btn btn-primary">
                    Cancel
                </a>
                <a id="select_image_action_btn" href="javascript:void(0)" class="btn btn-success disabled">
                    Select Image
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(function() {
        let target = null;
        let selectedImageName = null;
        const url_modal = new bootstrap.Modal(
            document.getElementById('images-modal')
        );
        $('.file-container').on('click', function() {
            $('.file-container').removeClass('active');
            $(this).addClass('active');
            selectedImageName = $(this).data('file-name');
            $('#select_image_action_btn').removeClass('disabled');
        });
        $('#select_image_action_btn').on('click', function() {
            let url = `/media/${selectedImageName}?`
            let crop_x = $('#crop_x').val();
            let crop_y = $('#crop_y').val();
            let crop_width = $('#crop_width').val();
            let crop_height = $('#crop_height').val();
            let resize_width = $('#resize_width').val();
            let resize_height = $('#resize_height').val();
            if (crop_x && crop_y && crop_width && crop_height) {
                url += `&x=${crop_x}&y=${crop_y}&width=${crop_width}&height=${crop_height}`;
            }
            if (resize_width && resize_height) {
                url += `&rwidth=${resize_width}&rheight=${resize_height}`;
            }
            target.siblings('input').val(url).change();
            url_modal.hide();
        });
        $('#search-image-input').on('keyup change', function() {
            let search = $('#search-image-input').val();
            $('.file-container').each(function() {
                let current = $(this);
                if (!search || current.data('file-name').toUpperCase().includes(search.toUpperCase())) {
                    current.show();
                } else {
                    current.hide();
                }
            });
        });
        $('.img-url-input').on('change keyup', function() {
            let val = $(this).val();
            let imgPreview = $(this)
                .parent()
                .siblings('.img-preview')
                .attr('href', $(this).val());
        });
        $(document).delegate('.image-selector', 'click', function() {
            target = $(this);
            url_modal.show();
            setTimeout(function() {
                $("#search-image-input").focus();
            }, 500);
        });
    });
</script>
{% endmacro %}
