{}

{% macro property(prop_data, disabled = False, render_default_value = False, name_attr = 'name', resource_id = none) %}
    {% set disabled = 'disabled' if disabled else '' %}
    {% set value = prop_data.default if render_default_value else prop_data.value %}
    {% set name = name_attr + '=' + prop_data.name %}
    {% set required = 'required' if prop_data.required else '' %}

    {# Render property fields #}
    {% if prop_data.property_type == 'str' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="text"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"

        />
    {% elif prop_data.property_type == 'key' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            id="key_field"
            type="text"
            pattern="^[a-z\_0-9]$"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
        <small>The value can only have small characters, numbers and "_"</small>
        <br>
        <small id="key_field_name_error" class="text-danger d-none">This name already exists. Please, choose other name.</small>
    {% elif prop_data.property_type == 'password' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="password"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'integer' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="number"
            step="1"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'real' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="number"
            step="0.1"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'currency' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="number"
            step="0.01"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'date' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="date"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'datetime' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="datetime-local"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'color' %}
        <input
            {{name}}
            {{disabled}}
            {{required}}
            type="color"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
            value="{{value}}"
        />
    {% elif prop_data.property_type == 'url' %}
        <div class="input-group">
            <input
                {{name}}
                {{disabled}}
                {{required}}
                type="text"
                class="prop form-control {{css_class}}"
                placeholder="{{prop_data.placeholder}}"
                value="{{value}}"
            />
            <button type="button" class="btn btn-secondary url-selector">
                <i class="bi bi-search"></i>
            </button>
        </div>
    {% elif prop_data.property_type == 'image' %}
        <div class="input-group mb-2">
            <input
                {{name}}
                {{disabled}}
                {{required}}
                type="text"
                class="prop form-control img-url-input {{css_class}}"
                placeholder="{{prop_data.placeholder}}"
                value="{{value}}"
            />
            <button type="button" class="btn btn-secondary image-selector">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <a class="img-preview" href="{{value}}" target="_blank">Image Preview</a>
    {% elif prop_data.property_type == 'code' %}
        <textarea
            {{name}}
            {{disabled}}
            {{required}}
            rows="{{prop_data.rows}}"
            class="prop form-control font-monospace {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
        >{{value}}</textarea>
    {% elif prop_data.property_type == 'text' %}
        <textarea
            {{name}}
            {{disabled}}
            {{required}}
            rows="{{prop_data.rows}}"
            class="prop form-control {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
        >{{value}}</textarea>
    {% elif prop_data.property_type == 'bool' %}
        <select
            {{name}}
            {{disabled}}
            {{required}}
            class="prop form-select {{css_class}}">
                <option value="1" {{'selected' if value == '1' else ''}}>True</option>
                <option value="0" {{'selected' if value == '0' else ''}}>False</option>
        </select>
    {% elif prop_data.property_type == 'enum' %}
        <select
            {{name}}
            {{disabled}}
            {{required}}
            class="prop form-select {{css_class}}">
                {% for val, label in prop_data.enum_values.items() %}
                    <option value="{{val}}" {{'selected' if value == val else ''}}>{{label}}</option>
                {% endfor %}
        </select>
    {% elif prop_data.property_type == 'info' %}
        <div class="input-group copy-behavior">
            <input
                readonly
                type="text"
                class="prop form-control {{css_class}}"
                placeholder="{{prop_data.placeholder}}"
                value="{{value}}"
            />
            <button type="button" class="btn btn-secondary">
                Copy
            </button>
        </div>
    {% elif prop_data.property_type == 'rich_text' %}
        <textarea
            {{name}}
            {{disabled}}
            {{required}}
            rows="{{prop_data.rows}}"
            class="prop form-control richtext {{css_class}}"
            placeholder="{{prop_data.placeholder}}"
        >{{value}}</textarea>
    {% endif %}
{% endmacro %}
