{% from "macros/datatables.html" import datatables_script with context %}
{% from "macros/headers.html" import metas, links, scripts with context %}
{% from "macros/cookie_policy.html" import cookie_policy_modal with context %}
{% from "macros/toast.html" import toasts_script with context %}
{% from "macros/noscript.html" import noscript with context %}
{% from "macros/form_validation.html" import form_validation_script with context %}

<!DOCTYPE html>
<html lang="{{config.lang}}" class="bg-dark h-100">
<head>
    <title>{{ generate_title(data.title) }}</title>
    {{ metas() }}
    {{ links() }}
    {{ scripts() }}
</head>
<body class="bg-dark h-100">
    <noscript>
        {{ noscript() }}
    </noscript>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="modal-container">
        {{ cookie_policy_modal() }}
        {% block modals %}{% endblock %}
    </div>
    <div class="toast-container position-absolute p-3 top-0 end-0">
        {% block toasts %}{% endblock %}
    </div>
</body>

<!-- Plugins Configurations -->
{{ datatables_script() }}
{{ toasts_script() }}
{{ form_validation_script() }}
</html>
