{% from "macros/utils/headers.html" import metas, links, scripts with context %}
{% from "macros/utils/cookie_policy.html" import cookie_policy_modal with context %}
{% from "macros/utils/noscript.html" import noscript with context %}
{% from "macros/utils/form_validation.html" import form_validation_script with context %}
{% from "macros/public/navbar.html" import navbar with context %}
{% from "macros/public/footer.html" import footer with context %}
{% from "macros/public/search.html" import search_modal with context %}

<!DOCTYPE html>
<html lang="{{page_data.context}}" class="bg-dark h-100">
<head>
    <title>{{ utils.generate_title(page_data.title) }}</title>
    {{ metas() }}
    {{ links() }}
    {{ scripts() }}
    {{ get_property('head_script') }}
    {% block style %}{% endblock %}
</head>
<body class="d-flex flex-column bg-dark h-100">
    <noscript>
        {{ noscript() }}
    </noscript>
    <header>
        {{ navbar() }}
    </header>
    <main class="flex-shrink-0">
        {% block content %}{% endblock %}
    </main>
    <footer class="mt-auto">
        {{ footer() }}
    </footer>
    <div class="modal-container">
        {% if properties.cookie_policy_enabled == '1' %}
            {{ cookie_policy_modal() }}
        {% endif %}
        {{ search_modal() }}
        {% block modals %}{% endblock %}
    </div>
    <div class="toast-container position-absolute p-3 top-0 end-0">
        {% block toasts %}{% endblock %}
    </div>
    <div id="script">
        {% block script %}{% endblock %}
        {{ get_property('body_script') }}
    </div>
</body>

<!-- Plugins Configurations -->
{{ form_validation_script() }}
</html>
