{# Copy action script #}
{% macro copy_clipboard(btn_selector, input_selector, delay = 2000) %}
<script>
    jQuery(function() {
        $('{{btn_selector}}').on('click', function() {
            let target = $('{{input_selector}}');
            if (!target.length) return;
            if (target.attr('disabled')) {
                target.removeAttr('disabled');
                target.attr('readonly', '');
            }
            target = target.get(0);
            target.select();
            document.execCommand("copy");
            $(this).html('Copied!');
            setTimeout(() => {
                $(this).html('Copy');
            }, {{delay}});
        });
    });
</script>
{% endmacro %}


{% macro copy_clipboard_behavior() %}
<script>
    jQuery(function() {
        $('.copy-behavior button').on('click', function() {
            let target = $('.copy-behavior').children('input');
            if (!target.length) return;
            if (target.attr('disabled')) {
                target.removeAttr('disabled');
                target.attr('readonly', '');
            }
            target = target.get(0);
            target.select();
            document.execCommand("copy");
            $(this).html('Copied!');
            setTimeout(() => {
                $(this).html('Copy');
            }, {{delay}});
        });
    });
</script>
{% endmacro %}
