{% macro cookie_policy_modal() %}
<div class="modal fade" id="cookie-policy-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ properties.cookie_policy_title }}
                </h5>
            </div>
            <div class="modal-body">{{ properties.cookie_policy_content }}</div>
            <div class="modal-footer">
                {% if properties.cookie_policy_cancel %}
                    <a href="javascript:void(0)" data-bs-dismiss="modal" class="btn btn-primary">
                        {{ properties.cookie_policy_cancel }}
                    </a>
                {% endif %}
                {% if properties.cookie_policy_disagree %}
                    <a href="/cookie-policy/disagree" class="btn btn-danger">
                        {{ properties.cookie_policy_disagree }}
                    </a>
                {% endif %}
                {% if properties.cookie_policy_agree %}
                    <a href="/cookie-policy/agree" class="btn btn-success">
                        {{ properties.cookie_policy_agree }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if cookie_policy_consent is none %}
<script>
    $(document).ready(() => {
        const modal = new bootstrap.Modal(
            document.getElementById('cookie-policy-modal')
        );
        modal.toggle();
    });
</script>
{% endif %}
{% endmacro %}
