{# Bootstrap form validation script #}
{% macro form_validation_script(selector = '.needs-validation') %}
<script>
    $(document).ready(function () {
        $('{{selector}}').submit(function(event) {
            let form = $(this);
            message = $("#invalid-fields-message", form);
            message.addClass('d-none');
            if (!form.get(0).checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                message.removeClass('d-none');
                $('.collapse_btn:not(.collapsed)').click();
            }
            form.addClass("was-validated");
        });
    });
</script>
{% endmacro %}
