{% from "macros/utils/alerts.html" import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% extends 'admin/layout.html' %}
{% block title %}{{page_data.title}}{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', page_data.title]) }}
            <div class="fs-3 text-white">{{page_data.title}}</div>
            <div class="card">
                <div class="card-body">
                    <form
                        id="upload-form"
                        method="POST"
                        action="{{ page_data.action_url }}"
                        class="needs-validation"
                        novalidate
                        enctype="multipart/form-data"
                    >
                        {{ flash_alerts() }}
                        <div class="mb-2">
                            <label for="formFile" class="form-label">Upload files</label>
                            <input id="file-input" class="form-control" type="file" name="files" required multiple>
                        </div>
                        <div class="mb-2">
                            <input id="action-input" type="hidden" name="replace" value="">
                            <button
                                id="upload-btn"
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Upload and keep files with the same name.">
                                <i class="bi bi-upload"></i>
                                Upload
                            </button>
                            <button
                                id="upload-and-replace-btn"
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Upload and replace files with the same name.">
                                <i class="bi bi-upload"></i>
                                Upload and Replace...
                            </button>
                        </div>
                    </form>
                    <div class="files-list">
                        {% for file in page_data.files %}
                            <div class="file-container">
                                <a class="delete-icon delete-file-btn" href="javascript:void(0)" data-file-name="{{file.name}}">
                                    <i class="bi bi-trash text-danger"></i>
                                </a>
                                <div class="file-name text-dark" title="{{file.name}}">
                                    {{file.name}}
                                </div>
                                <a href="{{file.path}}" class="text-decoration-none" target="_blank">
                                    {% if file.file_type == 'image' %}
                                        <img src="{{file.path}}" class="file-img" alt="Image tile">
                                    {% else %}
                                        <div class="file-other text-dark">
                                            {{file.extension.upper()}} File <br>
                                            <i class="bi bi-filetype-{{file.extension}}"></i>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{{page_data.first_page_url}}" class="btn btn-secondary" title="First page">
                        <i class="bi bi-arrow-bar-left"></i>
                    </a>
                    {% if page_data.page != 0 %}
                        <div class="btn-group">
                            <a href="{{page_data.prev_page_url}}" class="btn btn-secondary" title="Previous page">
                                <i class="bi bi-arrow-left"></i>
                            </a>
                            <a href="{{page_data.next_page_url}}" class="btn btn-secondary" title="Next page">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <a href="{{page_data.all_page_url}}" class="btn btn-secondary" title="All page">
                            All
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    jQuery(function() {
        $('#upload-btn').on('click', function() {
            const file = $('#file-input').val();
            if (!file) {
                alert('Select at least one file to upload!')
                return;
            }
            $('#action-input').val('false');
            $('#upload-form').submit();
        });
        $('#upload-and-replace-btn').on('click', function() {
            const file = $('#file-input').val();
            if (!file) {
                alert('Select at least one file to upload!')
                return;
            }
            if(!confirm('Do you really want to replace the files?')) {
                return;
            }
            $('#action-input').val('true');
            $('#upload-form').submit();
        });
        $('.delete-file-btn').on('click', function() {
            const fileName = $(this).data('file-name');
            if(confirm(`Do you really want to delete this file: ${fileName}?`)) {
                window.location.href = `{{page_data.delete_url}}/${fileName}`;
            }
        });
    });
</script>
{% endblock %}
