{% from 'macros/utils/alerts.html' import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% from "macros/admin/property.html" import property with context %}
{% from "macros/admin/history_list.html" import history_list with context %}
{% from "macros/admin/duplicate_modal.html" import duplicate_modal with context %}
{% extends 'admin/layout.html' %}
{% block title %}Import/Export{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', 'Import & Export' ]) }}
            <div class="fs-3 text-white">Import/Export</div>
            <div class="card">
                <div class="card-body">
                    {{ flash_alerts() }}
                    <ul class="nav nav-tabs mb-2" id="tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button id="tab_detail" type="button" class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#export-tab">Export</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button id="tab_detail" type="button" class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#import-tab">Import</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="export-tab" role="tabpanel">
                            <form id="export_form" action="{{page_data.export_action_url}}" method="POST">
                                <input id="id_list" name="id_list" type="hidden" value="[]">
                                <div id="datatype_input_container" class="mb-2">
                                    <label>Data type</label>
                                    <select id="datatype_input" name="datatype" class="form-select">
                                        <option value="objects">Objects</option>
                                        <option value="properties">Properties</option>
                                        <option value="users">Users</option>
                                        <option value="files">Files</option>
                                    </select>
                                </div>
                                <div>
                                    <div>
                                        <button id="select_all" type="button" class="btn btn-secondary">
                                            <i class="bi bi-check-square"></i>
                                            Select All
                                        </button>
                                        <button id="deselect_all" type="button" class="btn btn-secondary">
                                            <i class="bi bi-square"></i>
                                            Deselect All
                                        </button>
                                    </div>

                                    <div class="table-responsive">

                                        <!-- Objects -->
                                        <table id="objects_table" class="table table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th>Selected</th>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Reference</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in page_data.objects %}
                                                <tr class="object-item {{ 'opacity-50' if item.reference_name is not none else '' }}" data-id="{{item.id}}" data-name="{{ item.name }}" data-reference-name="{{ item.reference_name }}">
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input checkbox-object checkbox" type="checkbox" value="" {{ 'disabled' if item.reference_name is not none else '' }}>
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </td>
                                                    <td><i class="bi {{item.icon}}"></i> {{ item.name }}</td>
                                                    <td>{{ item.object_type }}</td>
                                                    <td>{{ item.reference_name if item.reference_name else '-' }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <!-- Properties -->
                                        <table id="properties_table" class="table table-striped w-100 d-none">
                                            <thead>
                                                <tr>
                                                    <th>Selected</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in page_data.properties %}
                                                <tr class="property-item" data-name="{{ item.name }}" data-id="{{ item.id }}">
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input checkbox-property checkbox" type="checkbox" value="" checked>
                                                            <label class="form-check-label"></label>
                                                        </div>
                                                    </td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.description }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button id="export_button" type="button" class="btn btn-primary">
                                        <i class="bi bi-download"></i>
                                        Export
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show" id="import-tab" role="tabpanel">
                            <form action="{{page_data.import_action_url}}" method="POST">
                                <div id="object_input_import_container" class="mb-2">
                                    <label>Data type</label>
                                    <select id="datatype_input_import" name="datatype" class="form-select">
                                        <option value="objects">Objects</option>
                                        <option value="properties">Properties</option>
                                        <option value="users">Users</option>
                                    </select>
                                </div>
                                <div id="import_action_container" class="mb-2">
                                    <label>Import action</label>
                                    <select id="import_action" name="import_action" class="form-select">
                                        <option value="replace">Import and REPLACE duplicates</option>
                                        <option value="ignore">Import and INGORE duplicates</option>
                                        <option value="keep" id="keep_option">Import and KEEP BOTH duplicates</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>JSON</label>
                                    <textarea id="json_data" name="json_data" class="form-control font-monospace" rows="10" placeholder="Enter the JSON data to import"></textarea>
                                </div>
                                <div>
                                    <button id="import_btn" class="btn btn-primary" disabled>
                                        <i class="bi bi-upload"></i>
                                        Import
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    jQuery(function() {
        init();

        function init() {
            refreshExportButton();
        }

        function refreshExportButton() {
            let datatype = $('#datatype_input').val();
            let btn = $('#export_button');
            let disableBtn = false;
            if (datatype == 'objects') {
                disableBtn = $('.checkbox-object:checked').length == 0
            } else if(datatype == 'properties') {
                disableBtn = $('.checkbox-property:checked').length == 0
            }

            if (disableBtn) {
                btn.attr('disabled', '');
            } else {
                btn.removeAttr('disabled');
            }
        }

        function generateExportJsonData() {
            let datatype = $('#datatype_input').val();
            let jsonData = []
            if (datatype == 'objects') {
                $('.checkbox-object:checked').each(function() {
                    let item = $(this).closest('.object-item');
                    jsonData.push(item.data('id'))
                });
            } else if (datatype == 'properties') {
                $('.checkbox-property:checked').each(function() {
                    let item = $(this).closest('.property-item');
                    jsonData.push(item.data('id'))
                });
            }
            $('#id_list').val(JSON.stringify(jsonData));
        }

        $('#export_button').on('click', function() {
            generateExportJsonData();
            $('#export_form').submit();
        });

        $('#datatype_input').on('change', function() {
            let datatype = $('#datatype_input').val();
            $('#objects_table').addClass('d-none');
            $('#properties_table').addClass('d-none');
            if (datatype == 'objects') {
                $('#objects_table').removeClass('d-none');
            } else if (datatype == 'properties') {
                $('#properties_table').removeClass('d-none');
            }
            refreshExportButton();
        });

        $('.checkbox-property').on('click', function() {
            refreshExportButton();
        });
        $('.checkbox-object').on('click', function() {
            let checked = $(this).is(':checked');
            let item = $(this).closest('.object-item');
            let name = item.data('name');
            let reference_name = item.data('reference-name');
            let references = $(`.object-item[data-reference-name="${name}"]`);
            if (checked) {
                references
                    .removeClass('opacity-50')
                    .find('.checkbox-object')
                    .removeAttr('disabled');
            } else {
                references
                    .addClass('opacity-50')
                    .find('.checkbox-object')
                    .prop('checked', false)
                    .attr('disabled', '');
            }
            refreshExportButton();
        });
        $('#select_all').on('click', function() {
            $('.checkbox')
                .prop('checked', false)
                .trigger('click');
        });
        $('#deselect_all').on('click', function() {
            $('.checkbox')
                .prop('checked', true)
                .trigger('click');
        });

        $('#json_data').on('change keyup', function() {
            let json = $(this).val().trim();
            $('#import_btn').attr('disabled', '');
            if (json) {
                $('#import_btn').removeAttr('disabled');
            }
        });

        $('#datatype_input_import').on('change', function() {
            let val = $(this).val();
            $('#keep_option').show();
            if (val == 'properties') {
                $('#import_action').val('replace')
                $('#keep_option').hide();
            }
        });
    });
</script>
{% endblock %}
