{% from "macros/admin/navbar.html" import admin_navbar with context %}
{% from "macros/admin/sidenav.html" import admin_sidenav with context %}
{% from "macros/admin/footer.html" import admin_footer with context %}
{% from "macros/admin/url_modal.html" import url_modal with context %}
{% from "macros/utils/datatables.html" import datatables_script with context %}
{% from "macros/utils/clipboard.html" import copy_clipboard_behavior with context %}
{% from "macros/utils/headers.html" import metas, links, scripts with context %}
{% from "macros/utils/cookie_policy.html" import cookie_policy_modal with context %}
{% from "macros/utils/toast.html" import toasts_script with context %}
{% from "macros/utils/noscript.html" import noscript with context %}
{% from "macros/utils/form_validation.html" import form_validation_script with context %}
{% from "macros/utils/richtext.html" import richtext_script with context %}

<!DOCTYPE html>
<html lang="en" class="bg-dark h-100">
<head>
    <title>Admin / {% block title %}{% endblock %}</title>
    {{ metas() }}
    {{ links() }}
    {{ scripts() }}
    {% block style %}{% endblock %}
</head>
<body class="d-flex flex-column bg-dark h-100">
    <noscript>
        {{ noscript() }}
    </noscript>
    <header>
        {{ admin_navbar() }}
        {% if is_authenticated() %}
            {{ admin_sidenav() }}
        {% endif %}
    </header>
    <main class="flex-shrink-0">
        {% block content %}{% endblock %}
    </main>
    <footer class="mt-auto">
        {{ admin_footer() }}
    </footer>
    <div class="modal-container">
        {{ url_modal() }}
        {% block modals %}{% endblock %}
    </div>
    <div class="toast-container position-absolute p-3 top-0 end-0">
        {% block toasts %}{% endblock %}
    </div>
    <div id="script">
        {% block script %}{% endblock %}
    </div>
</body>

<!-- Plugins Configurations -->
{{ datatables_script() }}
{{ toasts_script() }}
{{ form_validation_script() }}
{{ richtext_script() }}
{{ copy_clipboard_behavior() }}
</html>
