{% from 'macros/utils/alerts.html' import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% from "macros/admin/property.html" import property with context %}
{% from "macros/admin/history_list.html" import history_list with context %}
{% from "macros/admin/duplicate_modal.html" import duplicate_modal with context %}
{% extends 'admin/layout.html' %}
{% block title %}{{ page_data.title }}{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', page_data.title ]) }}
            <div class="fs-3 text-white">{{ page_data.title }}</div>
            <div class="card">
                <div class="card-body">
                    <form
                        id="content-form"
                        action="{{ page_data.action_url }}"
                        method="POST"
                        class="needs-validation"
                        novalidate
                    >
                        <input id="object_type" name="object_type" type="hidden" value="{{page_data.object_type}}">
                        <input id="object_subtype" name="object_subtype" type="hidden" value="{{page_data.object_subtype}}">
                        <input id="context" name="context" type="hidden" value="{{page_data.context}}">

                        {{ flash_alerts() }}
                        <div class="mb-2">

                            <!-- Back -->
                            <a class="btn btn-secondary" href="{{ page_data.back_url }}">
                                <i class="bi bi-arrow-left"></i>
                                Back
                            </a>

                            <!-- Actions -->
                            {% if page_data.edit and page_data.allow_actions %}
                                <button id="btn-duplicate" type="button" class="btn btn-primary duplicate-btn">
                                    <i class="bi bi-files"></i>
                                    Duplicate...
                                </button>
                                <button id="btn-delete" type="button" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                    Delete...
                                </button>
                            {% endif %}

                            <!-- Save -->
                            <button id="btn-submit" type="submit" class="btn btn-success">
                                <i class="bi bi-check-circle"></i>
                                Save
                            </button>
                            <span id="invalid-fields-message" class="ms-3 badge bg-danger d-none">There are some invalid field values. Please, check it before submit.</span>
                            <span id="invalid-name-message" class="ms-3 badge bg-danger d-none">The name is invalid. Please, choose other one.</span>
                        </div>

                        <ul class="nav nav-tabs mb-2" id="tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button id="tab_detail" type="button" class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#properties">Properties</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button id="tab_detail" type="button" class="nav-link {{ '' if page_data.edit else 'disabled' }}" href="#" data-bs-toggle="tab" data-bs-target="#history">History</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="properties" role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Property</th>
                                                <th style="width: 30%;">Description</th>
                                                <th style="width: 50%;">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set vars = {'header': ''} %}
                                            {% for prop in page_data.properties %}
                                                {% if prop.header %}
                                                    {% if vars.update({'header': prop.title}) %} {% endif %}
                                                    <tr class="bg-prop collapse_btn" role="button" data-header-name="{{prop.title}}">
                                                        <td colspan="4"><b class="text-decoration-underline">{{prop.title}}</b></td>
                                                    </tr>
                                                {% else %}
                                                    <tr class="d-none" data-header="{{vars.header}}">
                                                        <td>
                                                            <b>
                                                                {{prop.label}}
                                                                {% if prop.required %}
                                                                <span class="text-danger" title="Required">*</span>
                                                                {% endif %}
                                                            </b>
                                                            <br>
                                                            <small>{{ prop.name }}</small>
                                                        </td>
                                                        <td>
                                                            {{prop.description}}
                                                            {% for link in prop.links %}
                                                                <br>
                                                                <a href="{{link}}" target="_blank">{{ link }}</a>
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            {{property(
                                                                prop,
                                                                render_default_value=not page_data.edit
                                                            )}}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="history" role="tabpanel">
                                {{ history_list(page_data.history) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modals %}
    {% if page_data.edit %}
    {{ duplicate_modal(page_data.name) }}
    {% endif %}
{% endblock %}
{% block script %}
<script>
    jQuery(function() {
        const current_name = '{{page_data.name}}';
        let valid_name = true;

        $(".collapse_btn").click(function() {
            const header = $(this).data('header-name');
            const rows = $(`tr[data-header='${header}']`);
            if(rows.is(':visible')) {
                rows.addClass('d-none');
                $(this).removeClass('collapsed');
            } else {
                rows.removeClass('d-none');
                $(this).addClass('collapsed');
            }
        });

        $("#btn-delete").on('click', function() {
            if(confirm('Do you really want to delete this record?')) {
                window.location.href = '{{page_data.root_url}}/delete/{{page_data.object_id}}'
            }
        });

        $("#duplicate_action_btn").on('click', function() {
            let context = $("#duplicate_context").val();
            let new_name = $("#duplicate_name").val();
            if (!new_name) {
                alert('The name is required.');
                return;
            }
            if (!/^[a-z_0-9]+$/g.test(new_name)) {
                alert('Invalid name. Must have only a-z, numbers and "_" characteres.');
                return;
            }
            window.location.href = '{{page_data.root_url}}/duplicate/{{page_data.object_id}}/' + context + '/' + new_name;
        });

        $('#content-form').on('submit', function(event) {
            $('#invalid-name-message').addClass('d-none');
            if(!valid_name) {
                event.preventDefault();
                event.stopPropagation();
                $('#invalid-name-message').removeClass('d-none');
            }
        });

        $('#key_field').on('change keyup', function() {
            $('#key_field_name_error').addClass('d-none');

            let objectType = $('#object_type').val();
            let objectSubType = $('#object_subtype').val();
            let context = $('#context').val();
            let name = $('#key_field').val();
            if (!name) {
                return;
            }
            if (name == current_name) {
                return;
            }
            name = name.trim();
            objectExistsAjax(context, objectType, objectSubType, name).then(function(response) {
                if (response.exists) {
                    $('#key_field_name_error').removeClass('d-none');
                    valid_name = false;
                    return;
                }
                valid_name = true;
            });
        });

        function objectExistsAjax(context, objectType, objectSubType, name) {
            return $.ajax({
                url: `/${context}/admin/objects/exists/${objectType}/${objectSubType}/${name}`,
                type: 'GET',
            });
        }
    });
</script>
{% endblock %}
