{% from "macros/utils/alerts.html" import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% extends 'admin/layout.html' %}
{% block title %}{{page_data.title}}{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', page_data.title ]) }}
            <div class="fs-3 text-white">{{ page_data.title }}</div>
            <div class="card">
                <div class="card-body">
                    {{ flash_alerts() }}
                    <div class="mb-2">
                        {% if page_data.object_name %}
                            <a type="button" class="btn btn-secondary" href="{{ page_data.back_url }}">
                                <i class="bi bi-arrow-left"></i>
                                Back
                            </a>
                        {% endif %}

                        {% if page_data.children %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-plus-circle"></i> New Object
                                </button>
                                <ul class="dropdown-menu">
                                    {% for child in page_data.children %}
                                        <li>
                                            <a class="dropdown-item" href="{{page_data.root_url}}/{{child.name}}/create">
                                                <i class="me-2 bi {{child.icon}}"></i>
                                                {{child.name}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="datatable table table-striped w-100">
                            <thead>
                                <tr>
                                    {% for header in page_data.headers %}
                                        <th>{{header}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in page_data.data %}
                                    <tr>
                                        {% for field in item %}
                                            <td>{{field | safe}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
