{% from 'macros/utils/alerts.html' import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% from "macros/utils/clipboard.html" import copy_clipboard with context %}
{% extends 'admin/layout.html' %}
{% block title %}Page Detail{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', 'Pages', page_id]) }}
            <div class="fs-3 text-white">Page Detail</div>
            <div class="card">
                <div class="card-body">
                    <form
                        id="page-form"
                        {% if edit %}
                            action="/admin/pages/update/{{page_id}}"
                        {% else %}
                            action="/admin/pages/insert"
                        {% endif %}
                        method="POST"
                        class="needs-validation"
                        novalidate
                    >
                        {{ flash_alerts() }}
                        <div class="mb-2">
                            <button id="btn-submit" type="submit" class="btn btn-primary">Save</button>
                            {% if edit %}
                            <button id="btn-duplicate" type="button" class="btn btn-secondary">Duplicate...</button>
                            <button id="btn-delete" type="button" class="btn btn-danger">Delete...</button>
                            {% endif %}
                            <a class="btn btn-secondary" href="/admin/pages">Cancel</a>
                        </div>
                        <ul class="nav nav-tabs mb-2" id="landing-page-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button id="tab_detail" type="button" class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#detail">Detail</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#seo">SEO</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#sitemap">Sitemap</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#properties">Properties</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link" href="#" data-bs-toggle="tab" data-bs-target="#content">Content</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link {{ 'disabled' if not edit else '' }}" href="#" data-bs-toggle="tab" data-bs-target="#blocks">Blocks</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link {{ 'disabled' if not edit else '' }}" href="#" data-bs-toggle="tab" data-bs-target="#history">History</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button type="button" class="nav-link {{ 'disabled' if not edit else '' }}" href="#" data-bs-toggle="tab" data-bs-target="#info">Info</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="detail" role="tabpanel">
                                <div class="mb-2">
                                    <label>Name <span class="text-danger">*</span></label>
                                    <input id="page_name" name="name" placeholder="The name of the Landing Page" type="text" class="form-control" required value="{{ data.name if edit else '' }}" pattern="[a-z_]+"/>
                                    <small>Allowed only low case characters separated by "_". Ex: my_page</small>
                                </div>
                                <div class="mb-2">
                                    <label>Idiom <span class="text-danger">*</span></label>
                                    <select name="idiom" class="form-select" required>
                                        {% for idiom in idioms %}
                                            {% if edit %}
                                                {% set selected = 'selected' if data.idiom == idiom.code else '' %}
                                            {% else %}
                                                {% set selected = 'selected' if idiom.default else '' %}
                                            {% endif %}
                                            <option value="{{idiom.code}}" {{selected}}>{{idiom.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Layout <span class="text-danger">*</span></label>
                                    <select name="layout" class="form-select" required>
                                        {% for layout in layouts %}
                                            <option value="{{layout.value}}" {{'selected' if edit and layout.value == data.layout else ''}}>{{layout.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Template <span class="text-danger">*</span></label>
                                    <select name="template" class="form-select" required>
                                        {% for template in templates %}
                                            <option value="{{template.value}}" {{'selected' if edit and template.value == data.template else ''}}>{{template.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Menu <span class="text-danger">*</span></label>
                                    <select name="id_menu" class="form-select" required>
                                        <option value="0">None</option>
                                        {% for menu in data.menus %}
                                            <option value="{{menu.value}}" {{'selected' if edit and menu.value == data.id_menu else ''}}>{{menu.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Active <span class="text-danger">*</span></label>
                                    <select name="active" class="form-select" required>
                                        <option value="1" {{'selected' if edit and data.active else ''}}>True</option>
                                        <option value="0" {{'selected' if edit and not data.active else ''}}>False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="seo" role="tabpanel">
                                <div class="mb-2">
                                    <label>Title</label>
                                    <input name="title" placeholder="The title of the Landing Page" type="text" class="form-control" value="{{ data.title if edit else '' }}"/>
                                </div>
                                <div class="mb-2">
                                    <label>Author</label>
                                    <input name="author" placeholder="The author of the Landing Page" type="text" class="form-control" value="{{ data.author if edit else '' }}"/>
                                </div>
                                <div class="mb-2">
                                    <label>Description</label>
                                    <textarea name="description" rows="3" placeholder="Description of the Landing Page" type="text" class="form-control" value="{{ data.description if edit else '' }}"></textarea>
                                </div>
                                <div class="mb-2">
                                    <label>Keywords</label>
                                    <textarea name="keywords" rows="3" placeholder="Keywords of the Landing Page" type="text" class="form-control" value="{{ data.keywords if edit else '' }}"></textarea>
                                    <small>Use comma (,) or break line (↵) to separate</small>
                                </div>
                                <div class="mb-2">
                                    <label>Canonical URLs</label>
                                    <textarea name="canonical_urls" rows="3" placeholder="Canonical URLs of the Landing Page" type="text" class="form-control" value="{{ data.canonical_urls if edit else '' }}"></textarea>
                                    <small>Use comma (,) or break line (↵) to separate</small>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sitemap" role="tabpanel">
                                <div class="mb-2">
                                    <label>Active <span class="text-danger">*</span></label>
                                    <select name="sitemap_active" class="form-select" required>
                                        <option value="1" {{'selected' if edit and data.sitemap_active else ''}}>True</option>
                                        <option value="0" {{'selected' if edit and not data.sitemap_active else ''}}>False</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Priority <span class="text-danger">*</span></label>
                                    <select name="sitemap_priority" class="form-select" required>
                                        {% for i in range(0, 11) %}
                                            {% set priority = i / 10 %}
                                            {% if edit %}
                                                {% set selected = 'selected' if str(priority) == data.sitemap_priority else '' %}
                                            {% else %}
                                                {% set selected = 'selected' if i == 5 else '' %}
                                            {% endif %}
                                            <option value="{{priority}}" {{selected}}>{{priority}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <label>Change Frequently <span class="text-danger">*</span></label>
                                    <select name="sitemap_change_frequently" class="form-select" required>
                                        {% for i in ['always', 'hourly', 'daily', 'weekly', 'monthly', 'yearly', 'never'] %}
                                            {% set selected = 'selected' if edit and i == data.sitemap_change_frequently else '' %}
                                            <option value="{{i}}" {{selected}}>{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="properties" role="tabpanel">
                                Nothing to show :D.
                            </div>
                            <div class="tab-pane fade" id="content" role="tabpanel">
                                <div class="mb-2">
                                    <label>HTML</label>
                                    <textarea name="html" rows="10" placeholder="HTML code that will be render in the page" type="text" class="form-control font-monospace">{{data.html if edit else ''}}</textarea>
                                </div>
                                <div class="mb-2">
                                    <label>CSS</label>
                                    <textarea name="css" rows="10" placeholder="CSS styles that will be render in the page" type="text" class="form-control font-monospace">{{data.css if edit else ''}}</textarea>
                                </div>
                                <div class="mb-2">
                                    <label>Script</label>
                                    <textarea name="script" rows="10" placeholder="JavaScript code that will be render in the page" type="text" class="form-control font-monospace">{{data.script if edit else ''}}</textarea>
                                </div>
                                <div class="mb-2">
                                    <label>JSON</label>
                                    <textarea name="json" rows="10" placeholder="Aditional JSON data that will be injected to the page" type="text" class="form-control font-monospace">{{data.json if edit else ''}}</textarea>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="blocks" role="tabpanel">

                            </div>
                            <div class="tab-pane fade" id="history" role="tabpanel">

                            </div>
                            <div class="tab-pane fade" id="info" role="tabpanel">
                                <label>URL</label>
                                <div class="input-group mb-2">
                                    <input id="page_url_input" type="text" class="form-control" readonly value="{{ data.page_url if edit else '' }}"/>
                                    <button class="btn btn-primary" type="button" id="copy_url_btn">Copy</button>
                                </div>
                                <div class="mb-2">
                                    <label>Created by</label>
                                    <input type="text" class="form-control" disabled value="{{ data.created_by_name if edit else '' }}"/>
                                </div>
                                <div class="mb-2">
                                    <label>Updated by</label>
                                    <input type="text" class="form-control" disabled value="{{ data.updated_by_name if edit else '' }}"/>
                                </div>
                                <div class="mb-2">
                                    <label>Created On</label>
                                    <input type="text" class="form-control" disabled value="{{ data.created_on if edit else '' }}"/>
                                </div>
                                <div class="mb-2">
                                    <label>Updated On</label>
                                    <input type="text" class="form-control" disabled value="{{ data.updated_on if edit else '' }}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(function() {
        $('#btn-delete').on('click', function() {
            if(confirm('Do you really want to delete this page?')) {
                window.location.href = '/admin/pages/delete/{{page_id}}';
            }
        });
    });
</script>
{% endblock %}
{% block script %}
{{ copy_clipboard('#copy_url_btn', '#page_url_input') }}
{% endblock %}
