{% from 'macros/utils/alerts.html' import flash_alerts with context %}
{% from "macros/utils/breadcrumb.html" import breadcrumb with context %}
{% from "macros/admin/property.html" import property with context %}
{% extends 'admin/layout.html' %}
{% block title %}Properties{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', 'Properties']) }}
            <div class="fs-3 text-white">Properties</div>
            <div class="card">
                <div class="card-body">
                    <form
                        id="example-form"
                        action="/admin/properties/save"
                        method="POST"
                        class="needs-validation"
                        novalidate
                    >
                        {{ flash_alerts() }}
                        <div class="mb-2">
                            <button id="btn-submit" type="submit" class="btn btn-primary">
                                <i class="bi bi-check-circle"></i>
                                Save
                            </button>
                            <span id="unsaved" class="ms-2 text-danger d-none">
                                <i class="bi bi-exclamation-triangle"></i>
                                There are unsaved changes!
                            </span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Default Value</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set vars = {'header': ''} %}
                                    {% for prop in data.properties %}
                                        {% if prop.header %}
                                            {% if vars.update({'header': prop.title}) %} {% endif %}
                                            <tr class="bg-prop collapse_btn" role="button" data-header-name="{{prop.title}}">
                                                <td colspan="4"><b class="text-decoration-underline">{{prop.title}}</b></td>
                                            </tr>
                                        {% else %}
                                            <tr class="d-none" data-header="{{vars.header}}">
                                                <td style="width: 10%;">
                                                    <b>
                                                        {{prop.name}}
                                                        {% if prop.required %}
                                                        <span class="text-danger" title="Required">*</span>
                                                        {% endif %}
                                                    </b>
                                                </td>
                                                <td style="width: 30%;">
                                                    {{prop.description}}
                                                </td>
                                                <td style="width: 30%;">
                                                    {{property(
                                                        prop,
                                                        disabled=true,
                                                        name_attr='data-name',
                                                        render_default_value=true,
                                                    )}}
                                                </td>
                                                <td style="width: 30%;">
                                                    {{property(
                                                        prop
                                                    )}}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(function() {
        $('.prop').on('change', function() {
            $('#unsaved').removeClass('d-none');
        })

        $(".collapse_btn").click(function() {
            const header = $(this).data('header-name');
            const rows = $(`tr[data-header='${header}']`);
            if(rows.is(':visible')) {
                rows.addClass('d-none');
            } else {
                rows.removeClass('d-none');
            }
        });
    });
</script>
{% endblock %}
