{% extends 'layouts/error_layout.html' %}
{% block title %}401{% endblock %}
{% block content %}
<div class="container">
    <div class="text-light text-center" style="margin-top: 12rem">
        <h1 class="light center white-text">401 - Unauthorized</h1>
        <hr>
        <h5 class="light center white-text">{{ i18n.error_unauthorized }}</h5>
        <br>
        <button class="btn btn-light" onclick="history.back()">Back</button>
        <a href="/admin" class="btn btn-light" onclick="history.back()">Login</a>
    </div>
</div>
{% endblock %}
