.sidenav-button:hover {
    background-color: rgba(var(--bs-secondary-rgb), .2);
}
.white-anchor {
    color: white;
}
.white-anchor:hover {
    color: white;
    opacity: .75;
}
.bg-prop {
    background-color: rgba(0, 0, 0, .05);
}
.bg-prop:hover {
    background-color: rgba(0, 0, 0, .1);
}
.block-list {
    max-height: 300px;
    overflow-y: scroll;
}
.media-container {
    width: 150px;
    height: 150px;
    object-fit: cover;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.media-file {
    background-color: #dee2e6;
    height: 100%;
    padding-top: 21px;
}

.media-block {

}

.file-container {
    border: 1px solid #dee2e6;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    transition: opacity .25s;
}
.file-container:hover {
    opacity: .85;
}
.file-name {
    font-size: 13px;
    padding: 2px;
    padding-right: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-top: 1px solid #dee2e6;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.file-other {
    width: 150px;
    height: 150px;
    text-align: center;
    padding-top: 35px;
    background-color: #dee2e6;
}
.delete-icon {
    position: absolute;
    right: 2px;
    bottom: 0px;
    z-index: 1000;
    font-size: 15px;
}
.image-modal-container {
    max-height: 300px;
    overflow-y: auto;
}
.file-container.active .file-name {
    background-color: #0d6efd;
    color: white!important;
}
.img-preview-container {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    width: 200px;
    height: 200px;
    overflow: scroll;
    background-color: #dee2e6;
}
