.sidenav-button:hover {
    background-color: rgba(var(--bs-secondary-rgb), .2);
}
.white-anchor {
    color: white;
}
.white-anchor:hover {
    color: white;
    opacity: .75;
}
.bg-prop {
    background-color: rgba(0, 0, 0, .05);
}
.bg-prop:hover {
    background-color: rgba(0, 0, 0, .1);
}
.block-list {
    max-height: 300px;
    overflow-y: scroll;
}
.media-container {
    width: 100px;
    height: 100px;
    object-fit: cover;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.media-file {
    background-color: #dee2e6;
    height: 100%;
    padding-top: 21px;
}
